<mat-toolbar>
  <span class="titleDiv">
    <mat-icon class="globeIcon" fontIcon="language"></mat-icon>
    <h3 class="headerText">
      powered by
      <a href="https://newsdata.io/" class="loginIcon" target="_blank"
        >newsdata.io</a
      >
    </h3>
  </span>
  <span class="toolbar-spacer"></span>
  <mat-form-field class="searchBar">
    <input
      [(ngModel)]="searchBar"
      type="text"
      matInput
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  <button mat-button (click)="searchNews()">Search</button>

  <span class="toolbar-spacer"></span>
  <h5 class="userEmail">{{ loggedInUser }}</h5>
  <mat-icon
    *ngIf="userAuthenticated"
    fontIcon="star"
    class="loginIcon"
    (click)="showFavorites()"
  ></mat-icon>
  <mat-icon
    *ngIf="!userAuthenticated"
    fontIcon="login"
    class="loginIcon"
    (click)="loginClick()"
  ></mat-icon>
  <mat-icon
    *ngIf="userAuthenticated"
    fontIcon="logout"
    class="loginIcon"
    (click)="logoutUser()"
  ></mat-icon>
  <span class="toolbar-spacer-two"></span>
  <span (click)="getData('en')" class="langChange">en</span>
  <span (click)="getData('fr')" class="langChange">fr</span>
  <span (click)="getData('es')" class="langChange">sp</span>
</mat-toolbar>

<div class="logoContainer">
  <img class="logoImg" src="../assets/newsmouse.png" />
</div>

<!-- LOGIN / REGISTER FORM -->
<div *ngIf="loginToggle">
  <mat-card>
    <mat-card-header>
      <mat-button-toggle-group [(ngModel)]="toggleBtn">
        <mat-button-toggle value="login">Login</mat-button-toggle>
        <mat-button-toggle value="register">Register</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          [(ngModel)]="userEmail"
          type="email"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          [(ngModel)]="userPass"
          type="password"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field *ngIf="toggleBtn === 'register'">
        <mat-label>Reenter Password</mat-label>
        <input
          [(ngModel)]="userPass2"
          type="password"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <button
        mat-button
        (click)="loginUser()"
        class="loginBtn"
        *ngIf="toggleBtn === 'login'"
      >
        Login
      </button>
      <button
        mat-button
        (click)="registerUser()"
        class="loginBtn"
        *ngIf="toggleBtn === 'register'"
      >
        Register
      </button>
      <button mat-button (click)="loginClick()" class="loginBtn">Cancel</button>
    </mat-card-content>
    <mat-card-footer>
      <h3 class="feedback">{{ feedbackMsg }}</h3>
    </mat-card-footer>
  </mat-card>
</div>

<!-- TOP STORIES SECTION -->
<div *ngIf="!loginToggle && !favoritesToggle" class="topStories">
  <div *ngFor="let article of topStories" class="articleContainer">
    <h3 class="articleTitle">
      <a href="{{ article.link }}" target="_blank">
        {{ article.title }}
      </a>
    </h3>
    <mat-icon
      fontIcon="star_border"
      class="starIcon loginIcon"
      (click)="addFavorite(article)"
    ></mat-icon>
    <div class="splitContainer">
      <div *ngIf="article.image_url" class="articleSplit articleImage">
        <a href="{{ article.link }}" target="_blank">
          <img class="articleImg" src="{{ article.image_url }}" />
        </a>
      </div>
      <div
        [ngClass]="{ articleSplit: article.image_url }"
        class="articleSplit articleSnippet"
      >
        <a href="{{ article.link }}" target="_blank">
          <p>
            {{ article.content | slice : 0 : 900 }}
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- FAVORITE NEWS ARTICLES DISPLAY -->
<div *ngIf="!loginToggle && favoritesToggle" class="topStories">
  <div *ngFor="let article of favoriteArticles" class="articleContainer">
    <h3 class="articleTitle">
      <a href="{{ article.link }}" target="_blank">
        {{ article.title }}
      </a>
    </h3>
    <mat-icon
      fontIcon="star"
      class="starIcon loginIcon"
      (click)="removeFavorite(article)"
    ></mat-icon>
    <div>
      <div class="articleSnippet">
        <a href="{{ article.link }}" target="_blank">
          <p>
            {{ article.content | slice : 0 : 900 }}
            <span *ngIf="article.content.length > 900">...</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showFeedback" class="favoriteFeedback">
  <h3>{{ feedbackMsg }}</h3>
</div>
