<div *ngFor="let article of articles" class="articleContainer">
  <h3 class="articleTitle">
    <a href="{{ article.url }}" target="_blank">
      {{ article.title }}
    </a>
  </h3>
  <mat-icon
    fontIcon="star_border"
    class="starIcon loginIcon"
    (click)="handleFavorite(article)"
  ></mat-icon>
  <div class="splitContainer">
    <div *ngIf="article.image" class="articleSplit">
      <a href="{{ article.url }}" target="_blank">
        <img class="articleImg" src="{{ article.image }}" />
      </a>
    </div>
    <div
      [ngClass]="{ articleSplit: article.image }"
      class="articleSplit articleSnippet"
    >
      <a href="{{ article.url }}" target="_blank">
        <p>
          {{ article.description | slice : 0 : 900 }}
        </p>
      </a>
    </div>
  </div>
</div>
